body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    overflow:hidden;
    margin:0px; padding:20px;
    background-color:#ccc;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

container {
    width:800px; height:600px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

grass {
    background-image: url(../images/map_1.png);
    width: 800px;
    height: 600px;
}

castle {
    background-image: url(../images/castle_1.png);
    width: 800px;
    height: 64px;
}

player {
    background-image: url(../images/ranger_default.png);
    width: 32px;
    height: 32px;
}

arrow {
    background-image: url(../images/arrow.png);
    width: 4px;
    height: 32px;
}