body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    overflow:hidden;
    margin:0px; padding:20px;
    background-color:#ccc;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


container {
    width:800px; height:600px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

startbutton {
    background-image: url(../images/Start1.png);
    width:128px; height:64px;
    left: 336px; top: 0px;
    overflow:hidden;
}

startbutton.hover{
    background-image: url(../images/Start2.png);
}

grass {
    background-image: url(../images/map_1.png);
    width: 800px;
    height: 600px;
}

castle {
    background-image: url(../images/castle_1.png);
    width: 800px;
    height: 64px;
}

healthbar {
    background-color: red;
    top: 10px;
    left: 10px;
    width: 250px;
    height: 20px;
}

player {
    background-image: url(../images/ranger_default.png);
    width: 32px;
    height: 32px;
}

arrow {
    background-image: url(../images/arrow.png);
    width: 4px;
    height: 32px;
}

blackknight {
    background-image: url(../images/black_knight_default.png);
    width: 32px;
    height: 32px;
}